body {
    background-image: url('sfondo.webp');
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.striscianera {
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid black;
    float: left;
    padding: 1% 0% 0.5% 5%;
    width: 100%;
    height: auto;
    color: lightblue;
    font-family: Trebuchet MS, sans-serif;
    font-size: 13.5pt;
    vertical-align: middle;
}

.bandiere {
    float: right;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 3px;
    vertical-align: middle;

}



.acmetop {
    color: lightblue;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 13.5pt;

}



@media screen and (max-width: 585px) {

    .bandiere {
        float: center;
        margin-bottom: 8px;
        margin-right: 10px;
    }

    .Stricianera {
        text-align: left;
        padding-left: 0%;
    }
}

.logoacme {
    max-width: fit-content;
    margin: 20px auto 50px auto;
    padding: 100px 50px;
    height: 270px;
    text-align: center;

}

#academy {
    margin: 3px;
    font-size: 60px;
    font-family: Bebas Neue, Verdana, sans-serif;
    color: black;
}

.space {
    height: 220px;
    max-width: fit-content;
    margin: 0 auto;

}



.openday {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1px;
    max-width: 700px;
    color: black;
    text-align: center;
    font-size: larger;
    margin-top: 20px;
    font-family: Trebuchet MS, sans-serif;

}

.nomargin {
    margin: 0;
}


#red_bg {
    background-color: rgb(250, 106, 106);
}


#offertaformativa {
    background-color: hsl(0, 0%, 6%);
    height: auto;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 20px 30px;
    font-family: Trebuchet MS, sans-serif;
}


.frame {
    padding: 20px;
    height: 100%;
}



.material-symbols-outlined {
    font-size: 70px !important;
}



#welcome {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 20px;
    color: white;
    height: auto;
    font-family: Trebuchet MS, sans-serif;

}



div h2 {
    margin: 70px 0px 70px 0px;
    border-bottom: 2px solid white;
}



#youtubevideo {
    width: 100%;
    height: 315px;
    padding: 2px;
}


#ampiaofferta {
    padding: 20px;
    color: white;
    height: auto;
    font-family: Trebuchet MS, sans-serif;
}

#immaginegrafica {
    width: 100%;
    height: 100%;
}

#review {
    background-color: rgb(246, 143, 0, 0.8);
    border: 2px solid black;
    margin-top: 900px;
    margin: 0 auto;
    margin-top: 20px;
    height: 200px;
    color: black;
    text-align: center;
    padding-top: 85px;
    border-radius: 20px;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
    font-size: 18pt;
}

.dipartimentoout {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    color: white;
    height: auto;
    margin: 0px -10px;
}


.dipartimenti {
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    color: black;
}

#bgcolor1 {
    background-color: rgb(250, 106, 106);
    font-family: Trebuchet MS, sans-serif;
    border-radius: 10px;
}

#bgcolor2 {
    background-color: lightblue;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 10px;
}

#bgcolor3 {
    background-color: orange;
    font-family: Trebuchet MS, sans-serif;
    border-radius: 10px;
}

.color1 {
    color: rgb(250, 106, 106);
    font-family: Trebuchet MS, sans-serif;
}

.color2 {
    color: lightblue;
    font-family: Trebuchet MS, sans-serif;
}

.color3 {
    color: orange;
    font-family: Trebuchet MS, sans-serif;
}

.dipartimentoin {
    padding-top: 3%;
    min-height: 100%;
    text-align: center;
    background-color: hsl(0, 0%, 10%);
    font-family: Trebuchet MS, sans-serif;
    border-radius: 10px;

}


ul {
    margin: 0 auto;
    max-width: fit-content;
    font-size: 16px;
    padding-left: 3px !important;
    max-width: 94%;
    list-style-type: disc;
}

#durata {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 30px;
    color: white;
    height: auto;
    font-family: Trebuchet MS, sans-serif;
}

#borse {
    background-color: hsl(0, 0%, 6%);
    border-radius: 20px;
    padding: 30px;
    color: white;
    height: auto;
    font-family: Trebuchet MS, sans-serif;
}

.bitmargin {
    margin: 0px;
}

.info {
    background-color: orange;
    color: black;
    padding: 10px 20px;
    text-align: center;
    vertical-align:  center;
    font-family: Trebuchet MS, sans-serif;
}

#infomargin {
    margin-top: 50px;
}


#iconimagesbot {
    font-size: 25px !important;
    vertical-align:  bottom;
    margin: 0 15px;
}

#iconimagesbot2 {
    font-size: 27px !important;
    vertical-align: bottom;
    margin: 0 15px;
}

#iconimagesbot3 {
    font-size: 27px !important;
    vertical-align: bottom;
    margin: 0 15px;
}

.infotext {
    vertical-align: center;
     display: inline;
     font-family: Trebuchet MS, sans-serif;
   }

.social {
    width: 30px;
    vertical-align: center;
    margin: 5px;
}

#map {
    outline: 8px solid orange !important;
    width: 50%;
    height: 400px;
}



footer {
    background-color: hsl(0, 0%, 6%);
    color: white;
    width: 100%;
    margin-top: -6px;
    font-family: Trebuchet MS, sans-serif;

}

.footercontent {
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    font-family: Trebuchet MS, sans-serif;
}

.top {
    color: black;
    background-color: orange;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 55px !important;
    border-radius: 90px;
    text-align: center !important;
    font-family: Trebuchet MS, sans-serif;
    font-weight: bold;
    padding: 6px;
    border: 2px solid black;
}


